.content{
	display: flex;
	justify-content: flex-start;
}

.category-text-block{
	width: 22%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.category-text-content{
	height: 80upx;
    padding-top: 25upx;
    text-align: center;
	
}

.category-product-block{
	width: 78%;
	height: 100%;
	
	/* position: absolute; */
}

.checkColor{
	background-color: white;
}

/* 重写销售排行组建的字体大小 */
.sales-product-title{
	font-size: 30upx;
}

.sales-product-desc{
	font-size: 20upx;
}

.sales-bottom-num,.sales-bottom-people,.sales-bottom-price{
	font-size: 25upx;
}

.category-text-content{
	font-size: 30upx;
	border-bottom: 1px solid #C8C7CC;
	padding-left: 10upx;
}

